.Game-list {
  position: absolute;
  display: flex;
  width: 100%;
}

@media only screen and (max-width: 1280px) {
  .Game-list {
    top: 100px;
  }
}
@media only screen and (max-width: 1920px) {
  .Game-list {
    top: 100px;
  }
}

.Game-button {
  color: white;
  border: 2px solid white;
}
.Game-button.isFocused  {
  color: white;
  border-color: red;
}

@media only screen and (max-width: 1280px) {
  .Game-button {
    padding: 5px;
    margin: 10px;
  }
}
@media only screen and (max-width: 1920px) {
  .Game-button {
    padding: 8px;
    margin: 15px;
  }
}
